:root {
	--text-color: white;
	--background-color: #1e1e1e;

	--input-background-color: #383838;
	--input-border-color: #5c5c5c;

	--output-background-color: #1a1a1a;

	--controls-background-color: #292929;
	--controls-btn-hover-color: #969696;

	--spacer-background-color: #3c3c3c;
}

img.btn {
	filter: invert();
}