html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

abbr {
	cursor: help;
}

:root {
	color: var(--text-color);
	--input-height: 20px;
	--input-border-width: 1px;

	--controls-height: 2rem;

	--editor-container-size: 70%;

	--spacer-width: 15px;
	--none-if-dragging: '';

	--scrollbar-size: 14px;
	--scrollbar-outline-size: 0.3px;
	--scrollbar-outline-color: #5c5c5c;
	--scrollbarSlider-background: rgba(121, 121, 121, 0.4);
	--scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
	--scrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);

	--output-text-padding: 1rem;

	--stdin-color: lightblue;
	--stderr-color: lightcoral;
	--sysmsg-color: gray;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	font-family: Arial, Helvetica, sans-serif;
}

input {
	background-color: var(--input-background-color);
	outline: none;
	border: var(--input-border-color) solid var(--input-border-width);
	font-family: monospace;
	color: var(--text-color);
	height: var(--input-height);
	padding: 0;
}

main {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: var(--editor-container-size) var(--spacer-width) calc(100% - var(--editor-container-size) - var(--spacer-width));
	grid-template-rows: 100%;
	overscroll-behavior: none;
}

main[horizontal] {
	grid-template-rows: var(--editor-container-size) var(--spacer-width) calc(100% - var(--editor-container-size) - var(--spacer-width));
	grid-template-columns: 100%;
}

.controls {
	width: 100%;
	height: var(--controls-height);
	background-color: var(--controls-background-color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.controls1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: var(--controls-height);
}

img[active] {
	outline: 1px gray solid;
}

.controls img {
	transition: background-color linear 200ms;
	margin: 5px;
}

.controls img.btn {
	border-radius: 30%;
}

.controls img.btn:hover {
	background-color: var(--controls-btn-hover-color);
	cursor: pointer;
}

.controls select {
	outline: none;
	background-color: var(--input-background-color);
	border-radius: 2rem;
	border: var(--input-border-color) solid var(--input-border-width);
	margin: 0 1rem;
	color: var(--text-color);
	text-overflow: ellipsis;
	width: 100%;
	max-width: 100px;
	min-width: 20px;
	flex: 1;
	box-sizing: border-box;
}

#settings-panel {
	position: absolute;
	background-color: var(--controls-background-color);
	top: var(--controls-height);
	padding: 1rem;
	z-index: 1;
	border: 1px solid var(--input-background-color);
	border-top-color: var(--controls-background-color);
	border-radius: 0 0 1rem 1rem;
}

.container {
	display: flex;
	flex-direction: column;

	user-select: var(--none-if-dragging);
	pointer-events: var(--none-if-dragging);
}

#editor {
	height: 100%;
	overflow: hidden;
}

#spacer {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: col-resize;
	background-color: var(--spacer-background-color);
}

#spacer[horizontal] {
	cursor: row-resize;
}

#spacer[horizontal] span {
	transform: rotate(90deg);
}

#output-container {
	background-color: var(--output-background-color);
}

#output-container label {
	float: left;
	text-align: center;
	align-content: center;
	width: var(--output-text-padding);
	height: var(--input-height);
	border: var(--input-border-width) solid transparent;
	border-left: none;
	border-right: none;
}

#output {
	height: 100%;
	font-family: monospace;
	overflow: auto;
}

#outputText {
	display: flex;
	flex-direction: column;
	padding: 0 var(--output-text-padding);
}

#outputText span { display: block; }
span.stdin { color: var(--stdin-color); }
span.stderr { color: var(--stderr-color); }
span.sysmsg { color: var(--sysmsg-color); }

#input-holder {
	overflow: hidden;
	display: block;
}

#output-container input {
	width: calc(100% - var(--output-text-padding));
}

/*-- Scrollbar --*/
::-webkit-scrollbar {
	width: var(--scrollbar-size);
	height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbarSlider-hoverBackground);
}

::-webkit-scrollbar-thumb:active {
	background: var(--scrollbarSlider-activeBackground);
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbarSlider-background);
}

::-webkit-scrollbar-track {
	box-shadow: var(--scrollbar-outline-size) var(--scrollbar-outline-size) 0 0 var(--scrollbar-outline-color) inset;
}

::-webkit-scrollbar-corner {
	display: none;
}
